<h3>Task: {{task?.taskName}}</h3>
<div class="container">
    <div class="row">
        <div class="mt-4 col-4">
            <div class="card">
            <div class="card-header">
                <h4>Description</h4>
            </div>
            <div class="card-body">
                <p>{{task?.description}}</p>
            </div>
            </div>
        </div>
        <div class="mt-4 col-8" [hidden]='tableHidden'>
                <div class="card">
                  <div class="card-header">
                    <h4>Data</h4>
                  </div>
                  <div class="card-body">
                      <table class="table">
                          <thead class="thead-light">
                              <tr>
                                <th scope="col">Sprint points</th>
                                <th scope="col">Sprint start</th>
                                <th scope="col">Sprint end</th>
                                <th scope="col">Task status</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{task?.sprintPoints}}</td>
                                    <td>{{task?.sprintStart}}</td>
                                    <td>{{task?.sprintEnd}}</td>
                                    <td>{{task?.taskStatusName}} <a (click)="showChangeStatus($event)" type="button" class="btn btn-info">Change</a></td>
                                </tr>
                            </tbody>
                      </table>  
                  </div>
                </div>
              </div>
    </div>

</div>
<div class="row">
    <div class="mt-4 col-5" [hidden]="hidden">
        <div class="card">
          <div class="card-header">
            <h4 [hidden]="hidden">Change Status</h4>
          </div>
          <div class="card-body" >
              <form #changeStatusForm=ngForm (ngSubmit)="onSubmit(task.id)">

                  <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                  </div>
          
                  <div class="form-group row">
                      <label for="status" class="col-sm-4 col-form-label">Change Status</label>
                      <div class="col-sm-8 my-1">
                          <select class="custom-select mr-sm-2" id="status" name="status" [(ngModel)]="form.status" required >
                            <option *ngFor="let status of statuses" value="{{status?.id}}">{{status.statusName}}</option>
                          </select>
                      </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" [disabled]="!changeStatusForm.valid">Change</button>
                    </div>
                  </div>
                </form>
          </div>
        </div>
      </div>

</div>