<div class="row">
  <div class="mt-4 col-8">
    <div class="card">
      <div class="card-header">
        <h4>Projects</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="mt-4 col-4">
      <div class="card">
        <div class="card-header">
          <h4>Options</h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><a class="navbar-brand" routerLink="/signup" *ngIf="isAdmin" >Employees</a></li>
            <li class="list-group-item"><a class="navbar-brand" routerLink="/role" *ngIf="isAdmin" >Roles</a></li>
            <li class="list-group-item"><a class="navbar-brand" routerLink="/company" *ngIf="isAdmin" >Company</a></li>
            <li class="list-group-item"><a class="navbar-brand" routerLink="/projects" *ngIf="isAdmin" >Pojects</a></li>
          </ul>
        </div>
      </div>
    </div>
  
</div>
