<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo/MkLogo.jpg" width="100" height="40" alt="Mikro Kontrol">
  </a>
  <div>
    <a class="navbar-brand" routerLink="dashboard" *ngIf="isAdmin" >Dashboard</a>
    <a class="navbar-brand" routerLink="profile" *ngIf="loggedIn" >Profile</a>
    <a class="navbar-brand" routerLink="login" *ngIf="!loggedIn" >Login</a>
    <a class="navbar-brand" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
  </div>
</nav>
