<div class="container">
  <div class="row">
    <div class="mt-4 col-7">
        <div class="card">
          <div class="card-header">
            <h4>Roles</h4>
          </div>
          <div class="card-body">
              <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Role name</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let role of roles">
                      <td>{{role.id}}</td>
                      <td>{{role.roleName}}</td>
                      <td><a (click)="showEditRole($event, role.id)" type="button" class="btn btn-info">Edit</a></td>
                      <td><a (click)="deleteRole($event, role.id)" class="btn btn-danger">Delete</a></td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
      <div class="mt-4 col-5">
          <div class="card">
            <div class="card-header">
              <h4 [hidden]="hidden">Add Role</h4><a (click)="showAddRole($event)" type="button" class="btn btn-info" [hidden]="!hidden">Add Role</a>
            </div>
            <div class="card-body" [hidden]="hidden">
                <form #addRoleForm=ngForm (ngSubmit)="onSubmit()">

                    <div class="alert alert-danger" [hidden]="!error">
                      {{error}}
                    </div>
            
                    <div class="form-group row">
                      <label for="inputRole3" class="col-sm-4 col-form-label">Role name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputRole3" name="roleName" placeholder="Role name" [(ngModel)]="form.roleName" required>
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" [disabled]="!addRoleForm.valid">Add Role</button>
                      </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-4 col-md-5 offset-md-7" [hidden]="!hidden">
            <div class="card">
              <div class="card-header">
                <h4>Edit Role</h4>
              </div>
              <div class="card-body">
                  <form #editRoleForm=ngForm (ngSubmit)="editRole(role.id)">
  
                      <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                      </div>
              
                      <div class="form-group row">
                        <label for="inputRole4" class="col-sm-4 col-form-label">Role name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputRole4" name="roleName" value="{{role?.roleName}}" [(ngModel)]="form.roleName" required>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" [disabled]="!editRoleForm.valid">Edit Role</button>
                        </div>
                      </div>
                    </form>
              </div>
            </div>
          </div>
    </div>
</div>