<div class="container">
    <div class="row">
      <div class="mt-4 col-7">
          <div class="card">
            <div class="card-header">
              <h4>Projects</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Project status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let project of projectsMod">
                        <td>{{project.id}}</td>
                        <td><a class="navbar-brand" routerLink="/project/{{project.id}}" >{{project.projectName}}</a></td>
                        <td>{{project.active}}</td>
                        <td><a (click)="showEditProject($event, project.id)" type="button" class="btn btn-info">Edit</a></td>
                        <td><a (click)="deleteProject($event, project.id)" class="btn btn-danger">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="mt-4 col-5">
            <div class="card">
              <div class="card-header">
                <h4 [hidden]="hidden">Add Project</h4><a (click)="showAddProject($event)" type="button" class="btn btn-info" [hidden]="!hidden">Add project</a>
              </div>
              <div class="card-body" [hidden]="hidden">
                  <form #addProjectForm=ngForm (ngSubmit)="onSubmit()">
  
                      <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                      </div>
              
                      <div class="form-group row">
                        <label for="inputProject3" class="col-sm-4 col-form-label">Project name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputProject3" name="projectName" placeholder="Project name" [(ngModel)]="form.projectName" required>
                        </div>
                      </div>

                      <div class="form-group row">
                          <label for="company" class="col-sm-4 col-form-label">Company</label>
                          <div class="col-sm-8 my-1">
                              <select class="custom-select mr-sm-2" id="company" name="company" [(ngModel)]="form.company" required >
                                <option *ngFor="let company of companies" value="{{company.id}}">{{company.companyName}} </option>
                              </select>
                          </div>
                      </div>

                      <div class="form-group row">
                          <label for="projectManager" class="col-sm-4 col-form-label">Project Manager</label>
                          <div class="col-sm-8 my-1">
                              <select class="custom-select mr-sm-2" id="projectMAnager" name="projectManager" [(ngModel)]="form.projectManager" required >
                                <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                              </select>
                          </div>
                      </div>
                      
                      <div class="form-group row">
                          <label for="users" class="col-sm-4 col-form-label">Employees</label>
                          <div class="col-sm-8">
                              <div class="form-check form-check-inline" *ngFor="let user of users;">
                                  <input class="form-check-input" type="checkbox" name="users" id="inlineCheckbox{{user.id}}"  value="{{user.id}}" [(ngModel)]="form.users[user.id]">
                                  <label class="form-check-label" for="inlineCheckbox{{user.id}}">{{user.firstName}} {{user.lastName}}</label>
                                </div>
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputProject4" class="col-sm-4 col-form-label">Begins on</label>
                            <div class="col-sm-8">
                              <input type="date" class="form-control" id="inputProject4" name="start" placeholder="Begins on" [(ngModel)]="form.start" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputProject5" class="col-sm-4 col-form-label">Sprint Lenght</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="inputProject5" name="sprintLenght" placeholder="Sprint Lenght" [(ngModel)]="form.sprintLenght" required>
                            </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputProject6" class="col-sm-4 col-form-label">Sprint points</label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control" id="inputProject6" name="sprintPoints" placeholder="Sprint Points" [(ngModel)]="form.sprintPoints" required>
                              </div>
                            </div>
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" [disabled]="!addProjectForm.valid">Add project</button>
                        </div>
                      </div>
                    </form>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="mt-4 col-md-5 offset-md-7" [hidden]="!hidden">
              <div class="card">
                <div class="card-header">
                  <h4>Edit project</h4>
                </div>
                <div class="card-body">
                    <form #editProjectForm=ngForm (ngSubmit)="editProject(project.id)">
    
                        <div class="alert alert-danger" [hidden]="!error">
                          {{error}}
                        </div>
                
                        <div class="form-group row">
                          <label for="inputProject4" class="col-sm-4 col-form-label">Project name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputProject4" name="projectName" value="{{project?.projectName}}" [(ngModel)]="form.projectName">
                          </div>
                        </div>

                        <div class="form-group row">
                            <label for="projectManager" class="col-sm-4 col-form-label">Project Manager</label>
                            <div class="col-sm-8 my-1">
                                <select class="custom-select mr-sm-2" id="projectMAnager" name="projectManager" [(ngModel)]="form.projectManager" >
                                  <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="users" class="col-sm-4 col-form-label">Employees</label>
                            <div class="col-sm-8">
                                <div class="form-check form-check-inline" *ngFor="let user of users;">
                                    <input class="form-check-input" type="checkbox" name="users" id="inlineCheckbox{{user.id}}"  value="{{user.id}}" [(ngModel)]="form.users[user.id]">
                                    <label class="form-check-label" for="inlineCheckbox{{user.id}}">{{user.firstName}} {{user.lastName}}</label>
                                  </div>
                            </div>
                          </div>

                          <fieldset class="form-group">
                              <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Status</legend>
                                <div class="col-sm-8">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="projectstatus" id="gridRadios1" value="1" checked [(ngModel)]="form.projectstatus">
                                    <label class="form-check-label" for="gridRadios1">
                                      Active
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="projectstatus" id="gridRadios2" value="0" [(ngModel)]="form.projectstatus">
                                    <label class="form-check-label" for="gridRadios2">
                                      Inactive
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </fieldset>

                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" [disabled]="!editProjectForm.valid">Edit project</button>
                          </div>
                        </div>
                      </form>
                </div>
              </div>
            </div>
      </div>
  </div>