<div class="container">
    <div class="row">
      <div class="mt-4 col-12">
        <div class="card">
          <div class="card-header">
            <h4>Project : {{project?.projectName}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mt-4 col-12" [hidden]='tableHidden'>
        <div class="card">
          <div class="card-header">
            <h4>Tasks</h4> <a (click)="showAddTask($event)" type="button" class="btn btn-info" >Add task</a>
          </div>
          <div class="card-body">
              <table class="table">
                  <thead class="thead-light">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Task</th>
                        <th scope="col">Employee</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasksMod">
                            <td>{{task.id}}</td>
                            <td><a class="navbar-brand" routerLink="/task/{{task.id}}" >{{task.taskName}}</a></td>
                            <td>{{task.firstName}} {{lastName}}</td>
                            <td><a (click)="showEditTask($event, task.id)" type="button" class="btn btn-info">Edit</a></td>
                            <td><a (click)="deleteTask($event, task.id)" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
              </table>  
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="mt-4 col-6" [hidden]='addHidden'>
          <div class="card">
            <div class="card-header">
              <h4>Add Task</h4>
            </div>
            <div class="card-body">
                <form #addTaskForm=ngForm (ngSubmit)="onSubmit()">
                    <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                    </div>
                    <div class="form-group row">
                        <label for="inputTask3" class="col-sm-4 col-form-label">Task name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputTask3" name="taskName" placeholder="Task name" [(ngModel)]="form.taskName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="taskTextarea">Description</label>
                        <textarea class="form-control" name="description" id="taskTextarea" rows="4" [(ngModel)]="form.description" required ></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="employees" class="col-sm-4 col-form-label">Select employee</label>
                        <div class="col-sm-8 my-1">
                            <select class="custom-select mr-sm-2" id="employees" name="userId" [(ngModel)]="form.userId" required >
                              <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sprint" class="col-sm-4 col-form-label">Select Sprint</label>
                        <div class="col-sm-8 my-1">
                            <select class="custom-select mr-sm-2" id="sprint" name="sprintId" [(ngModel)]="form.sprintId" required >
                              <option *ngFor="let sprint of sprints" value="{{sprint.id}}">{{sprint.startDate | date : "dd.MM.y"}} - {{sprint.endDate | date : "dd.MM.y"}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="points" class="col-sm-4 col-form-label">Task points</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="points" name="points" placeholder="Task points" [(ngModel)]="form.points" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" [disabled]="!addTaskForm.valid">Add Task</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="mt-4 col-6" [hidden]='editHidden'>
            <div class="card">
              <div class="card-header">
                <h4>Edit Task</h4>
              </div>
              <div class="card-body">
                <form #editTaskForm=ngForm (ngSubmit)="onEditSubmit(task.id)">
                  <div class="alert alert-danger" [hidden]="!error">
                      {{error}}
                  </div>
                  <div class="form-group row">
                      <label for="inputTask3" class="col-sm-4 col-form-label">Task name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputTask3" name="taskName" value="{{task?.taskName}}" [(ngModel)]="form.taskName" >
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="taskTextarea">Description</label>
                      <textarea class="form-control" name="description" id="taskTextarea" rows="4" [(ngModel)]="form.description" value="{{task?.description}}" ></textarea>
                  </div>
                  <div class="form-group row">
                      <label for="employees" class="col-sm-4 col-form-label">Select employee</label>
                      <div class="col-sm-8 my-1">
                          <select class="custom-select mr-sm-2" id="employees" name="userId" [(ngModel)]="form.userId" >
                            <option *ngFor="let user of users" value="{{user?.id}}">{{user.firstName}} {{user.lastName}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="sprint" class="col-sm-4 col-form-label">Select Sprint</label>
                      <div class="col-sm-8 my-1">
                          <select class="custom-select mr-sm-2" id="sprint" name="sprintId" [(ngModel)]="form.sprintId"  >
                            <option *ngFor="let sprint of sprints" value="{{sprint.id}}">{{sprint.startDate | date : "dd.MM.y"}} - {{sprint.endDate | date : "dd.MM.y"}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="points" class="col-sm-4 col-form-label">Task points</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="points" name="points" [(ngModel)]="form.points" >
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" [disabled]="!editTaskForm.valid">Edit Task</button>
                      </div>
                  </div>
              </form>
              </div>
            </div>
          </div>
    </div>
</div>