<div class="container">
    <div class="row">
      <div class="mt-4 col-7">
          <div class="card">
            <div class="card-header">
              <h4>Companies</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Company name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of companies">
                        <td>{{company.id}}</td>
                        <td>{{company.companyName}}</td>
                        <td><a (click)="showEditCompany($event, company.id)" type="button" class="btn btn-info">Edit</a></td>
                        <td><a (click)="deleteCompany($event, company.id)" class="btn btn-danger">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
        <div class="mt-4 col-5">
            <div class="card">
              <div class="card-header">
                <h4 [hidden]="hidden">Add Company</h4><a (click)="showAddCompany($event)" type="button" class="btn btn-info" [hidden]="!hidden">Add company</a>
              </div>
              <div class="card-body" [hidden]="hidden">
                  <form #addCompanyForm=ngForm (ngSubmit)="onSubmit()">
  
                      <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                      </div>
              
                      <div class="form-group row">
                        <label for="inputCompany3" class="col-sm-4 col-form-label">Company name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="inputCompany3" name="companyName" placeholder="Company name" [(ngModel)]="form.companyName" required>
                        </div>
                      </div>
                      
                      <!-- <fieldset class="form-group">
                          <div class="row">
                            <legend class="col-form-label col-sm-5 pt-0">Company status</legend>
                            <div class="col-sm-5">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="companyStatus" id="gridRadios1" value="1" checked [(ngModel)]="form.companyStatus">
                                <label class="form-check-label" for="gridRadios1">
                                  Active
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="companyStatus" id="gridRadios2" value="0" [(ngModel)]="form.companyStatus">
                                <label class="form-check-label" for="gridRadios2">
                                  Inactive
                                </label>
                              </div>
                            </div>
                          </div>
                        </fieldset> -->

                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" [disabled]="!addCompanyForm.valid">Add company</button>
                        </div>
                      </div>
                    </form>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="mt-4 col-md-5 offset-md-7" [hidden]="!hidden">
              <div class="card">
                <div class="card-header">
                  <h4>Edit company</h4>
                </div>
                <div class="card-body">
                    <form #editCompanyForm=ngForm (ngSubmit)="editCompany(company.id)">
    
                        <div class="alert alert-danger" [hidden]="!error">
                          {{error}}
                        </div>
                
                        <div class="form-group row">
                          <label for="inputCompany4" class="col-sm-4 col-form-label">Company name</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputCompany4" name="companyName" value="{{company?.companyName}}" [(ngModel)]="form.companyName" required>
                          </div>
                        </div>

                        <!-- <fieldset class="form-group">
                            <div class="row">
                              <legend class="col-form-label col-sm-5 pt-0">Company status</legend>
                              <div class="col-sm-5">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="companyStatus" id="gridRadios1" value="1" checked [(ngModel)]="form.companyStatus">
                                  <label class="form-check-label" for="gridRadios1">
                                    Active
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="companyStatus" id="gridRadios2" value="0" [(ngModel)]="form.companyStatus">
                                  <label class="form-check-label" for="gridRadios2">
                                    Inactive
                                  </label>
                                </div>
                              </div>
                            </div>
                          </fieldset> -->
  
                        
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" [disabled]="!editCompanyForm.valid">Edit company</button>
                          </div>
                        </div>
                      </form>
                </div>
              </div>
            </div>
      </div>
  </div>