

<h3>{{user?.firstName}} {{user?.lastName}}</h3>
<div class="container">
    <div class="row">
        <div class="mt-4 col-6">
            <div class="card">
            <div class="card-header">
                <h4>Projects</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Project name</th>
                        <th scope="col">Project status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let project of projects">
                        <td>{{project.id}}</td>
                        <td><a class="navbar-brand" routerLink="/project/{{project.id}}" >{{project.projectName}}</a></td>
                        <td>{{project.active}}</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        <div class="mt-4 col-6" [hidden]='tableHidden'>
                <div class="card">
                  <div class="card-header">
                    <h4>Tasks</h4>
                  </div>
                  <div class="card-body">
                      <table class="table">
                          <thead class="thead-light">
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Task</th>
                                <th scope="col">Employee</th>
                                <th scope="col">Task status</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of tasks">
                                    <td>{{task.id}}</td>
                                    <td><a class="navbar-brand" routerLink="/task/{{task.id}}" >{{task.taskName}}</a></td>
                                    <td>{{task.firstName}} {{lastName}}</td>
                                    <td>{{task.taskStatusName}}</td>
                                </tr>
                            </tbody>
                      </table>  
                  </div>
                </div>
              </div>
    </div>

</div>
