<div class="container">
<div class="row">
<div class="mt-4 col-12">
  <div class="row">
      <div class="mt-4 col-12">
          <div class="card">
            <div class="card-header">
                <h4 [hidden]="hidden">Employees</h4><a (click)="showEmployees($event)" type="button" class="btn btn-info" [hidden]="!hidden">Show Employees</a><a (click)="showAddEmployee($event)" type="button" class="btn btn-info" [hidden]="hidden">Add employee</a>
            </div>  
            <div class="card-body" [hidden]="hidden">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Employee name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Superior</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of usersMod">
                        <td>{{user.firstName}} {{user.lastName}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.parent}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.userstatus}}</td>
                        <td><a (click)="showEditUser($event, user.id)" type="button" class="btn btn-info">Edit</a></td>
                        <td><a (click)="deleteUser($event, user.id)" class="btn btn-danger">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
  </div>
</div>
</div>





<div class="row">
<div class="mt-4 col-12" [hidden]="hiddenAdd">
    <div class="card">
      <div class="card-header">
          <h4 [hidden]="hiddenAdd">Add employee</h4><a (click)="showAddEmployee($event)" type="button" class="btn btn-info" [hidden]="hiddenAdd">Add employee</a>
      </div>
      <div class="card-body" [hidden]="hiddenAdd">
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">
          <div class="alert alert-danger" [hidden]="!errors">
            {{errors}}
          </div>
          <div class="form-group row">
              <label for="inputfirstname3" class="col-sm-2 col-form-label">First name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputfirstname3" name="firstName" placeholder="First Name" [(ngModel)]="form.firstName" required>
              </div>
              <div class="alert alert-danger" [hidden]="!error.firstName">{{error.firstName}}</div>
          </div>

          <div class="form-group row">
              <label for="inputlastname3" class="col-sm-2 col-form-label">Last name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputlastname3" name="lastName" placeholder="Last tName" [(ngModel)]="form.lastName" required>
                <div class="alert alert-danger" [hidden]="!error.lastName">{{error.lastName}}</div>
              </div>
          </div>
          
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email" [(ngModel)]="form.email" required>
            </div>
            <div class="alert alert-danger" [hidden]="!error.email">{{error.email}}</div>
          </div>
  
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password" [(ngModel)]="form.password" required>
            </div>
            <div class="alert alert-danger" [hidden]="!error.password">{{error.password}}</div>
            
          </div>

          <div class="form-group row">
              <label for="inputconfirmPassword3" class="col-sm-2 col-form-label">Confirm password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputconfirmPassword3" name="password_cinfirmation" placeholder="Confirm password" [(ngModel)]="form.password_confirmation" required>
              </div>
              <div class="alert alert-danger" [hidden]="!error.password_cinfirmation">{{error.password_cinfirmation}}</div>
            </div>

          <div class="form-group row">
              <label for="inputusername3" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputusername3" name="username" placeholder="Username" [(ngModel)]="form.username" required>
              </div>
              <div class="alert alert-danger" [hidden]="!error.username">{{error.username}}</div>
              
          </div>

          <div class="form-group row">
              <label for="parent" class="col-sm-2 col-form-label">Parent user</label>
              <div class="col-sm-10 my-1">
                  <select class="custom-select mr-sm-2" id="parent" name="parent" [(ngModel)]="form.parent" required >
                    <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                  </select>
              </div>
          </div>

          <div class="form-group row">
              <label for="role" class="col-sm-2 col-form-label">Role</label>
              <div class="col-sm-10 my-1">
                  <select class="custom-select mr-sm-2" id="role" name="role" [(ngModel)]="form.role" required >
                    <option *ngFor="let role of roles" value="{{role.id}}"> {{role.roleName}} </option>
                  </select>
              </div>
          </div>

          <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="userstatus" id="gridRadios1" value="1" checked [(ngModel)]="form.userstatus">
                    <label class="form-check-label" for="gridRadios1">
                      Active
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="userstatus" id="gridRadios2" value="0" [(ngModel)]="form.userstatus">
                    <label class="form-check-label" for="gridRadios2">
                      Inactive
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>





















  <div class="mt-4 col-9 offset-2" [hidden]="hiddenEdit">
      <div class="card">
        <div class="card-header">
            <h4>Edit employee</h4>
        </div>
        <div class="card-body">
          <form #editForm=ngForm (ngSubmit)="onEditSubmit(user.id)">
            <div class="alert alert-danger" [hidden]="!errors">
              {{errors}}
            </div>
            <div class="form-group row">
                <label for="inputfirstname4" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                  <input type="text" value="{{user?.firstName}}" class="form-control" id="inputfirstname4" name="firstName" [(ngModel)]="form.firstName">
                </div>
                <div class="alert alert-danger" [hidden]="!error.firstName">{{error.firstName}}</div>
            </div>
  
            <div class="form-group row">
                <label for="inputlastname4" class="col-sm-2 col-form-label">Last name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputlastname4" name="lastName" value="{{user?.lastName}}"  [(ngModel)]="form.lastName">
                  <div class="alert alert-danger" [hidden]="!error.lastName">{{error.lastName}}</div>
                </div>
            </div>
            
            <div class="form-group row">
              <label for="inputEmail4" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail4" name="email" value="{{user?.email}}"  [(ngModel)]="form.email">
              </div>
              <div class="alert alert-danger" [hidden]="!error.email">{{error.email}}</div>
            </div>
    
            <!-- <div class="form-group row">
              <label for="inputPassword4" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password" [(ngModel)]="form.password" required>
              </div>
              <div class="alert alert-danger" [hidden]="!error.password">{{error.password}}</div>
              
            </div>
  
            <div class="form-group row">
                <label for="inputconfirmPassword4" class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputconfirmPassword4" name="password_cinfirmation" placeholder="Confirm password" [(ngModel)]="form.password_confirmation" required>
                </div>
                <div class="alert alert-danger" [hidden]="!error.password_cinfirmation">{{error.password_cinfirmation}}</div>
              </div> -->
  
            <div class="form-group row">
                <label for="inputusername4" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputusername4" name="username" value="{{user?.username}}"  [(ngModel)]="form.username">
                </div>
                <div class="alert alert-danger" [hidden]="!error.username">{{error.username}}</div>
                
            </div>
  
            <div class="form-group row">
                <label for="parentEdit" class="col-sm-2 col-form-label">Parent user</label>
                <div class="col-sm-10 my-1">
                    <select class="custom-select mr-sm-2" id="parentEdit" name="parent" [(ngModel)]="form.parent" >
                      <option *ngFor="let user of users" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
                    </select>
                </div>
            </div>
  
            <div class="form-group row">
                <label for="roleEdit" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10 my-1">
                    <select class="custom-select mr-sm-2" id="roleEdit" name="role" [(ngModel)]="form.role"  >
                      <option *ngFor="let role of roles" value="{{role.id}}"> {{role.roleName}} </option>
                    </select>
                </div>
            </div>
  
            <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="userstatus" id="gridRadios4" value="1" [(ngModel)]="form.userstatus">
                      <label class="form-check-label" for="gridRadios5">
                        Active
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="userstatus" id="gridRadios5" value="0" [(ngModel)]="form.userstatus">
                      <label class="form-check-label" for="gridRadios5">
                        Inactive
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Edit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
</div>
  